<!--<div class="crop" [style.width.px]="thumbsWidth" [title]="rating">
	<div style="width: 86px">
		<span class="glyphicon glyphicon-thumbs-up"></span>
		<span class="glyphicon glyphicon-thumbs-up"></span>
		<span class="glyphicon glyphicon-thumbs-up"></span>
		<span class="glyphicon glyphicon-thumbs-up"></span>
		<span class="glyphicon glyphicon-thumbs-up"></span>
	</div>
</div> -->
<!--<div class="crop">
	<div style="width: 86px" *ngFor="let i of [1,2,3,4,5]">
		<span class="glyphicon glyphicon-thumbs-up"></span>
	</div>
</div>-->
<div (click)="onClick()">
	{{ thumbWidth }}<span class="glyphicon glyphicon-thumbs-up"></span>
</div>